<strong>Hello, {{ organizer }}!</strong>
<p>A new subscription on meetup "{{ meetup }}" was made. The subscribed user data follows below</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
  <small>Contact the user if necessary.</small> <br />

</p>
